<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMaster</title>

    <link rel="icon" type="image/png" href="/favicon.ico" />

    <link rel="stylesheet" href="../assets/stylesheets/neumorphism.css">
    <link rel="stylesheet" href="../assets/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="../assets/stylesheets/iziToast.css">
    <link rel="stylesheet" href="../assets/stylesheets/vex.css">
    <link rel="stylesheet" href="../assets/stylesheets/vex-theme-os.css">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>

<body>
    <header>
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                    <h5 class="m-0 font-weight-bolder">
                        <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                        <span class="text-capitalize">MovieMaster</span>
                    </h5>
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fa fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link font-weight-bold">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link font-weight-bold">Genre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text font-weight-bold">Location</span>
                                <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu shadow-soft">
                                <h5><a class="text-secondary text-truncate font-weight-bold mx-3" href="">Erumely,
                                        Kerala, India</a></h5>
                                <li><a class="dropdown-item" href="/login"><i
                                            class="fa fa-location-arrow text-secondary mr-2"></i> Pick another
                                        location</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text font-weight-bold">Account</span>
                                <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu shadow-soft">
                                <h5 class="row px-3">
                                    <div class="col my-auto">
                                        <a class="text-secondary font-weight-bold" href="">Account</a>
                                    </div>
                                    <div class="col">
                                        <img src="../assets/images/profile.png" class="profile_img float-right">
                                    </div>
                                </h5>
                                <li><a class="dropdown-item" href="/login"><i
                                            class="fa fa-sign-in text-secondary mr-2"></i> Login</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="search-right">
                                <a href="#search" class="btn btn-primary btn-sm font-weight-bold px-3" title="search">
                                    Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
                                </a>
                                <div id="search" class="pop-overlay">
                                    <div class="popup">
                                        <form class="search-box" id="search-box">
                                            <input type="search" placeholder="Search your Keyword" name="searchQuery"
                                                id="searchQuery" required="required" autofocus="" autocomplete="false">
                                            <button type="submit" class="btn btn-primary mx-2"><span
                                                    class="fa fa-search" aria-hidden="true"></span></button>
                                            <div class="bg-white rounded mt-2 py-2" id="results-container" hidden
                                                style="max-height: 50vh; overflow-y: auto;"></div>
                                        </form>
                                    </div>
                                    <a class="close" href="#close">×</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="header text-center my-5">
                <h1 class="wthree">Select Seats</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-8">
                    <div class="profile-card my-3">
                        <div class="card bg-primary shadow-soft border-light">
                            <div class="row">
                                <div class="ml-4">
                                    <div
                                        class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
                                        <img src="../assets/images/movies/banner1.jpg" class="card-img-top rounded"
                                            alt="Avatar" id="profilePic"
                                            style=" height: 100%; object-fit: cover !important;">
                                    </div>
                                </div>
                                <div class="ml-5 my-3">
                                    <h5 class="text-twitter font-weight-bold">Movie Title</h5>
                                    <h5 class="text-facebook font-weight-bold">Grand Opera</h5>
                                    <h6>Sreen-1 | 23-01-2021 | 09:00</h6>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div class="w3ls-reg">
                                    <!-- seat availabilty list -->
                                    <ul class="seat_w3ls text-center">
                                        <li class="smallBox greenBox text-dark">Selected Seat</li>

                                        <li class="smallBox redBox text-dark">Reserved Seat</li>

                                        <li class="smallBox emptyBox text-dark">Empty Seat</li>
                                    </ul>
                                    <!-- seat availabilty list -->
                                    <!-- seat layout -->
                                    <div class="seatStructure">
                                        <div class="d-md-flex justify-content-center table-responsive">
                                            <table id="seatsBlock">
                                                <tr>
                                                    <td></td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>3</td>
                                                    <td>4</td>
                                                    <td>5</td>
                                                    <td></td>
                                                    <td>6</td>
                                                    <td>7</td>
                                                    <td>8</td>
                                                    <td>9</td>
                                                    <td>10</td>
                                                    <td>11</td>
                                                    <td>12</td>
                                                </tr>
                                                <tr>
                                                    <td>A</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A1" id="A1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A2" id="A2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A3" id="A3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A4" id="A4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A5" id="A5">
                                                    </td>
                                                    <td class="seatGap"></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A6" id="A6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A7" id="A7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A8" id="A8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A9" id="A9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A10" id="A10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A11" id="A11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="A12" id="A12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>B</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B1" id="B1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B2" id="B2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B3" id="B3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B4" id="B4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B5" id="B5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B6" id="B6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B7" id="B7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B8" id="B8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B9" id="B9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B10" id="B10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B11" id="B11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="B12" id="B12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>C</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C1" id="C1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C2" id="C2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C3" id="C3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C4" id="C4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C5" id="C5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C6" id="C6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C7" id="C7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C8" id="C8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C9" id="C9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C10" id="C10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C11" id="C11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="C12" id="C12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>D</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D1" id="D1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D2" id="D2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D3" id="D3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D4" id="D4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D5" id="D5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D6" id="D6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D7" id="D7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D8" id="D8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D9" id="D9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D10" id="D10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D11" id="D11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="D12" id="D12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>E</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E1" id="E1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E2" id="E2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E3" id="E3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E4" id="E4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E5" id="E5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E6" id="E6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E7" id="E7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E8" id="E8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E9" id="E9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E10" id="E10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E11" id="E11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="E12" id="E12">
                                                    </td>
                                                </tr>

                                                <tr class="seatVGap"></tr>

                                                <tr>
                                                    <td>F</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F1" id="F1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F2" id="F2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F3" id="F3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F4" id="F4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F5" id="F5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F6" id="F6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F7" id="F7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F8" id="F8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F9" id="F9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F10" id="F10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F11" id="F11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="F12" id="F12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>G</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G1" id="G1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G2" id="G2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G3" id="G3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G4" id="G4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G5" id="G5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G6" id="G6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G7" id="G7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G8" id="G8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G9" id="G9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G10" id="G10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G11" id="G11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="G12" id="G12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>H</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H1" id="H1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H2" id="H2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H3" id="H3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H4" id="H4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H5" id="H5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H6" id="H6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H7" id="H7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H8" id="H8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H9" id="H9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H10" id="H10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H11" id="H11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="H12" id="H12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>I</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I1" id="I1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I2" id="I2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I3" id="I3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I4" id="I4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I5" id="I5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I6" id="I6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I7" id="I7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I8" id="I8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I9" id="I9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I10" id="I10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I11" id="I11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="I12" id="I12">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>J</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J1" id="J1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J2" id="J2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J3" id="J3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J4" id="J4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J5" id="J5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J6" id="J6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J7" id="J7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J8" id="J8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J9" id="J9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J10" id="J10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J11" id="J11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" data-price="100" value="J12" id="J12">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="d-flex justify-content-center mt-5">
                                            <div class="screen">
                                                <img src="../assets/images/movies/banner1.jpg" class="screenImage"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mb-3">
                                            <h2 class="wthree text-center bg-warning screenText">Screen</h2>
                                        </div>
                                        <div class="text-center">
                                            <button onclick="confirmSelection()"
                                                class="btn btn-primary text-left font-weight-bolder">Confirm
                                                Selection</button>
                                        </div>
                                    </div>
                                    <!-- //seat layout -->
                                </div>
                                <div class="checkout-sidebar-wrapper" id="sidebarWrapper">
                                    <div class="checkout-sidebar bg-gradient-primary" id="checkoutSidebar">
                                        <button
                                            class="btn btn-primary btn-icon-only rounded-circle text-danger btn-sm ml-n3 mt-n3 sidebar-close"
                                            onclick="closeSidebar()" id="sidebarClose">
                                            <span class="fa fa-close"></span>
                                        </button>
                                        <div class="sidebar-body py-3 px-4" id="sidebarBody">
                                            <div class="card bg-primary shadow-soft border-light">
                                                <div class="card-body pb-0">
                                                    <h3 class="wthree text-danger mb-3">Booking Summary</h3>
                                                    <div>
                                                        <h6 class="text-dark font-weight-bold">Movie Title</h6>
                                                        <div class="my-3">
                                                            <p class="text-small">Genre</p>
                                                            <p class="text-small">Language</p>
                                                        </div>
                                                    </div>
                                                    <div class="row px-3 pb-1">
                                                        <h6 class="text-twitter font-weight-bold text-uppercase mx-auto">
                                                            Grand Opera</h6>
                                                    </div>
                                                    <div class="row px-3 pb-1">
                                                        <h6 class="text-dark text-medium">Screen-1
                                                            <span class="font-weight-normal text-dark">(<span
                                                                    id="totalSeats"></span> Seats)</span>
                                                        </h6>
                                                        <h6 class="ml-auto text-dark text-medium">Rs.<span
                                                                id="totalPrice"></span></h6>
                                                    </div>
                                                    <div class="row px-3 pb-1">
                                                        <h6 class="text-dark text-medium">Seats</h6>
                                                        <h6 class="ml-auto text-dark" style="overflow-x: auto;"
                                                            id="seatsDisplay">
    
                                                        </h6>
                                                    </div>
                                                    <div class="row px-3 pb-1">
                                                        <h6 class="text-dark text-medium">Date</h6>
                                                        <h6 class="ml-auto text-dark text-medium" style="overflow-x: auto;">
                                                            23-01-2021
                                                        </h6>
                                                    </div>
                                                    <div class="row px-3 pb-1">
                                                        <h6 class="text-dark text-medium">Time</h6>
                                                        <h6 class="ml-auto text-dark text-medium" style="overflow-x: auto;">
                                                            09:00
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="card-footer bg-twitter py-2 px-4">
                                                    <div class="row px-3">
                                                        <h6 class="text-white text-medium">Amount Payable</h6>
                                                        <h6 class="ml-auto text-white text-medium">Rs.<spam
                                                                id="payableAmount"></spam>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <h6 class="text-center">Payment Options</h6>
                                                <div class="row my-3">
                                                    <div id="countDown" class="mx-auto"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <a type="button"
                                                            class="btn btn-warning btn-sm btn-block rounded py-1">
                                                            <span class="fa fa-paypal text-secondary"> PayPal</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <a type="button"
                                                            class="btn btn-warning btn-sm btn-block rounded py-1">
                                                            <span class="fa fa-credit-card text-secondary"> RazorPay</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- footer-66 -->
    <footer class="w3l-footer">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">
                        <div class="right-side">
                            <div class="row footer-links">
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Movies</h6>
                                    <ul>
                                        <li><a href="/">Movies</a></li>
                                        <li><a href="/">Genre</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Information</h6>
                                    <ul>
                                        <li><a href="/login">Login</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Locations</h6>
                                    <ul>
                                        <li><a href="/">India</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="below-section">
                <div class="container">
                    <div class="copyright-footer">
                        <div class="columns text-lg-left">
                            <p>&copy; 2020 MovieMaster. All rights reserved | Developed by <a href="/">Vishnu C
                                    Prasad</a></p>
                        </div>

                        <ul class="social text-lg-right">
                            <li><a href="/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-arrow-up" aria-hidden="true"></span>
            </button>
            <!-- /move top -->

        </section>
    </footer>
    <!--//footer-66 -->

    <script src="../assets/javascripts/jquery.min.js"></script>
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script src="../assets/javascripts/jquery.countdown.min.js"></script>
    <script src="../assets/javascripts/popper.min.js"></script>
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <script src="../assets/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="../assets/javascripts/owl.carousel.js"></script>
    <script src="../assets/javascripts/owl.config.js"></script>
    <script src="../assets/javascripts/neumorphism.js"></script>
    <script src="../assets/javascripts/iziToast.js"></script>
    <script src="../assets/javascripts/vex.combined.js"></script>
    <script src="../assets/javascripts/script.js"></script>
</body>

</html>