<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMaster</title>

    <link rel="icon" type="image/png" href="/favicon.ico" />

    <link rel="stylesheet" href="/assets/stylesheets/neumorphism.css">
    <link rel="stylesheet" href="/assets/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="/assets/stylesheets/iziToast.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body>
    <header>
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                    <h5 class="m-0 font-weight-bolder">
                        <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                        <span class="text-capitalize">MovieMaster</span>
                    </h5>
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fa fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link font-weight-bold">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link font-weight-bold">Genre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text font-weight-bold">Location</span>
                                <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu shadow-soft">
                                <h5><a class="text-secondary text-truncate font-weight-bold mx-3" href="">Erumely,
                                        Kerala, India</a></h5>
                                <li><a class="dropdown-item" href="/login"><i
                                            class="fa fa-location-arrow text-secondary mr-2"></i> Pick another
                                        location</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text font-weight-bold">Account</span>
                                <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu shadow-soft">
                                <h5 class="row px-3">
                                    <div class="col my-auto">
                                        <a class="text-secondary font-weight-bold" href="">Account</a>
                                    </div>
                                    <div class="col">
                                        <img src="../assets/images/profile.png" class="profile_img float-right">
                                    </div>
                                </h5>
                                <li><a class="dropdown-item" href="/login"><i
                                            class="fa fa-sign-in text-secondary mr-2"></i> Login</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="search-right">
                                <a href="#search" class="btn btn-primary btn-sm font-weight-bold px-3" title="search">
                                    Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
                                </a>
                                <div id="search" class="pop-overlay">
                                    <div class="popup">
                                        <form class="search-box" id="search-box">
                                            <input type="search" placeholder="Search your Keyword" name="searchQuery"
                                                id="searchQuery" required="required" autofocus="" autocomplete="false">
                                            <button type="submit" class="btn btn-primary mx-2"><span
                                                    class="fa fa-search" aria-hidden="true"></span></button>
                                            <div class="bg-white rounded mt-2 py-2" id="results-container" hidden
                                                style="max-height: 50vh; overflow-y: auto;"></div>
                                        </form>
                                    </div>
                                    <a class="close" href="#close">×</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="header text-center my-5">
                <h1 class="wthree">Select Seats</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <div class="profile-card my-3">
                        <div class="card bg-primary shadow-soft border-light">
                            <div class="row">
                                <div class="ml-4">
                                    <div
                                        class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
                                        <img src="../assets/images/movies/banner1.jpg" class="card-img-top rounded"
                                            alt="Avatar" id="profilePic"
                                            style=" height: 100%; object-fit: cover !important;">
                                    </div>
                                </div>
                                <div class="ml-5 my-3">
                                    <h5 class="text-twitter font-weight-bold">Movie Title</h5>
                                    <h5 class="text-facebook font-weight-bold">Grand Opera</h5>
                                    <h6>Sreen-1 | 23-01-2021 | 09:00</h6>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div class="w3ls-reg">
                                    <!-- seat availabilty list -->
                                    <ul class="seat_w3ls">
                                        <li class="smallBox greenBox text-dark">Selected Seat</li>

                                        <li class="smallBox redBox text-dark">Reserved Seat</li>

                                        <li class="smallBox emptyBox text-dark">Empty Seat</li>
                                    </ul>
                                    <!-- seat availabilty list -->
                                    <!-- seat layout -->
                                    <div class="seatStructure">
                                        <div class="d-md-flex justify-content-center table-responsive">
                                            <table id="seatsBlock">
                                                <tr>
                                                    <td></td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>3</td>
                                                    <td>4</td>
                                                    <td>5</td>
                                                    <td></td>
                                                    <td>6</td>
                                                    <td>7</td>
                                                    <td>8</td>
                                                    <td>9</td>
                                                    <td>10</td>
                                                    <td>11</td>
                                                    <td>12</td>
                                                </tr>
                                                <tr>
                                                    <td>A</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A5">
                                                    </td>
                                                    <td class="seatGap"></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="A12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>B</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="B12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>C</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="C12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>D</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="D12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>E</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="E12">
                                                    </td>
                                                </tr>
    
                                                <tr class="seatVGap"></tr>
    
                                                <tr>
                                                    <td>F</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="F12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>G</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="G12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>H</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="H12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>I</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="I12">
                                                    </td>
                                                </tr>
    
                                                <tr>
                                                    <td>J</td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J1">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J2">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J3">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J4">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J5">
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J6">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J7">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J8">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J9">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J10">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J11">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="seats" value="J12">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="d-flex justify-content-center mt-5">
                                            <div class="screen">
                                                <img src="../assets/images/movies/banner1.jpg" class="screenImage" alt="">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mb-3">
                                            <h2 class="wthree text-center bg-warning screenText">Screen</h2>
                                        </div>
                                        <div class="text-center">
                                            <button onclick="updateTextArea()" class="btn btn-primary text-left font-weight-bolder">Confirm Selection</button>
                                        </div>
                                    </div>
                                    <!-- //seat layout -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer-66 -->
    <footer class="w3l-footer">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">
                        <div class="right-side">
                            <div class="row footer-links">
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Movies</h6>
                                    <ul>
                                        <li><a href="/">Movies</a></li>
                                        <li><a href="/">Genre</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Information</h6>
                                    <ul>
                                        <li><a href="/login">Login</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Locations</h6>
                                    <ul>
                                        <li><a href="/">India</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="below-section">
                <div class="container">
                    <div class="copyright-footer">
                        <div class="columns text-lg-left">
                            <p>&copy; 2020 MovieMaster. All rights reserved | Developed by <a href="/">Vishnu C
                                    Prasad</a></p>
                        </div>

                        <ul class="social text-lg-right">
                            <li><a href="/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-arrow-up" aria-hidden="true"></span>
            </button>
            <!-- /move top -->

        </section>
    </footer>
    <!--//footer-66 -->

    <script src="../assets/javascripts/jquery.min.js"></script>
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script src="../assets/javascripts/jquery.countdown.min.js"></script>
    <script src="../assets/javascripts/popper.min.js"></script>
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <script src="../assets/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="../assets/javascripts/owl.carousel.js"></script>
    <script src="../assets/javascripts/owl.config.js"></script>
    <script src="../assets/javascripts/neumorphism.js"></script>
    <script src="../assets/javascripts/iziToast.js"></script>
    <script src="../assets/javascripts/script.js"></script>
</body>

</html>