<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMaster</title>

    <link rel="icon" type="image/png" href="/favicon.ico" />

    <link rel="stylesheet" href="../assets/stylesheets/neumorphism.css">
    <link rel="stylesheet" href="../assets/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="../assets/stylesheets/iziToast.css">
    <link rel="stylesheet" href="../assets/stylesheets/vex.css">
    <link rel="stylesheet" href="../assets/stylesheets/vex-theme-os.css">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>

<body>
    <header>
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
            <div class="container position-relative">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                    <h5 class="m-0 font-weight-bolder">
                        <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                        <span class="text-capitalize">MovieMaster</span>
                    </h5>
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <span class="fa fa-play icon-log text-warning" aria-hidden="true"></span>
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fa fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link font-weight-bold">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link font-weight-bold">Genre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text font-weight-bold">Location</span>
                                <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu shadow-soft">
                                <h5><a class="text-secondary text-truncate font-weight-bold mx-3" href="">Erumely,
                                        Kerala, India</a></h5>
                                <li><a class="dropdown-item" href="/login"><i
                                            class="fa fa-location-arrow text-secondary mr-2"></i> Pick another
                                        location</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span class="nav-link-inner-text font-weight-bold">Account</span>
                                <span class="fa fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu shadow-soft">
                                <h5 class="row px-3">
                                    <div class="col my-auto">
                                        <a class="text-secondary font-weight-bold" href="">Account</a>
                                    </div>
                                    <div class="col">
                                        <img src="../assets/images/profile.png" class="profile_img float-right">
                                    </div>
                                </h5>
                                <li><a class="dropdown-item" href="/login"><i
                                            class="fa fa-sign-in text-secondary mr-2"></i> Login</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="search-right">
                                <a href="#search" class="btn btn-primary btn-sm font-weight-bold px-3" title="search">
                                    Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
                                </a>
                                <div id="search" class="pop-overlay">
                                    <div class="popup">
                                        <form class="search-box" id="search-box">
                                            <input type="search" placeholder="Search your Keyword" name="searchQuery"
                                                id="searchQuery" required="required" autofocus="" autocomplete="false">
                                            <button type="submit" class="btn btn-primary mx-2"><span
                                                    class="fa fa-search" aria-hidden="true"></span></button>
                                            <div class="bg-white rounded mt-2 py-2" id="results-container" hidden
                                                style="max-height: 50vh; overflow-y: auto;"></div>
                                        </form>
                                    </div>
                                    <a class="close" href="#close">×</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <section class="min-vh-100 d-flex align-items-center mt-2 pt-5">
        <div class="container mt-5">
            <div class="mb-5">
                <div class="card bg-primary shadow-soft border-light">
                    <div class="card-body p-3">
                        <div class="p-4">
                            <div class="row">
                                <div class="col">
                                    <h2 class="wthree text-danger m-0">Booking Summary</h2>
                                </div>
                                <div class="ml-3 ml-md-auto mt-3 mt-md-0">
                                    <button onclick="sendTicket()" class="btn btn-primary btn-icon-only text-twitter mr-3"><i
                                            class="fa fa-paper-plane"></i></button>
                                    <a href="" class="btn btn-primary text-twitter">My Tickets</a>
                                </div>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="mb-4 p-2 text-center">
                                <h3 class="text-uppercase wthree text-purple m-0">Booking Details</h3>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Total amount</h4>
                                <h4 class="ml-auto text-dark text-medium">Rs.300</h4>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Pyment method</h4>
                                <h4 class="ml-auto text-dark text-medium">Razorpay</h4>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Seats
                                    <span class="font-weight-normal text-dark wthree">(3)</span>
                                </h4>
                                <h4 class="ml-auto text-dark text-medium" style="overflow-x: auto;">A1,A2,A3
                                </h4>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Booked on</h4>
                                <h4 class="ml-auto text-dark text-medium" style="overflow-x: auto;">27-01-2021
                                </h4>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="mb-4 p-2 text-center">
                                <h3 class="text-uppercase wthree text-purple m-0">Movie Details</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="text-dark wthree">Movie Title</h4>
                                    <div>
                                        <span class="shadow-inset px-3 py-1 text-medium rounded"
                                            style="width: fit-content;">Genre</span>
                                    </div>
                                    <div class="my-3">
                                        <p><span
                                                class="text-dark text-monospace text-small text-uppercase font-weight-bold">Language
                                                : </span>English</p>
                                        <p><span
                                                class="text-dark text-monospace text-small text-uppercase font-weight-bold">Runtime
                                                : </span>03:02</p>
                                        <p><span
                                                class="text-dark text-monospace text-small text-uppercase font-weight-bold">Releasedate
                                                : </span>25-01-2021</p>
                                        <p><span
                                                class="text-dark text-monospace text-small text-uppercase font-weight-bold">Cast
                                                : </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                                            ea iusto sapiente aperiam repellat quae quo tenetur, sint earum explicabo
                                            voluptate tempore fugit eaque a deserunt quam sit mollitia optio.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="w3l-grids">
                                        <div class="grids-main">
                                            <div class="item vhny-grid">
                                                <div class="box16">
                                                    <figure>
                                                        <img class="rounded" src="../assets/images/movies/banner1.jpg"
                                                            alt="" style="height: 15rem; object-fit: cover !important;">
                                                    </figure>
                                                    <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                                        <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                    </a>
                                                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                                    <div id="small-dialog1"
                                                        class="zoom-anim-dialog mfp-hide small-dialog">
                                                        <iframe src="https://www.youtube.com/embed/-_DJEzZk2pc"
                                                            frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="mb-4 p-2 text-center">
                                <h3 class="text-uppercase wthree text-purple m-0">Theatre and Show Details</h3>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Theatre</h4>
                                <h4 class="ml-auto text-dark text-medium">Grand Opera</h4>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Screen</h4>
                                <h4 class="ml-auto text-dark text-medium">Screen-1</h4>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Date</h4>
                                <h4 class="ml-auto text-dark text-medium" style="overflow-x: auto;">27-01-2021
                                </h4>
                            </div>
                            <div class="row px-3 pb-3">
                                <h4 class="text-dark wthree">Time</h4>
                                <h4 class="ml-auto text-dark text-medium" style="overflow-x: auto;">09:00
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-twitter py-3 px-4">
                        <div class="row px-3">
                            <h3 class="text-white ml-auto wthree m-0">Status :</h3>
                            <h3 class="mr-auto text-white wthree m-0">&nbsp;Booked</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer-66 -->
    <footer class="w3l-footer">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">
                        <div class="right-side">
                            <div class="row footer-links">
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Movies</h6>
                                    <ul>
                                        <li><a href="/">Movies</a></li>
                                        <li><a href="/">Genre</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Information</h6>
                                    <ul>
                                        <li><a href="/login">Login</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                    <h6>Locations</h6>
                                    <ul>
                                        <li><a href="/">India</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="below-section">
                <div class="container">
                    <div class="copyright-footer">
                        <div class="columns text-lg-left">
                            <p>&copy; 2020 MovieMaster. All rights reserved | Developed by <a href="/">Vishnu C
                                    Prasad</a></p>
                        </div>

                        <ul class="social text-lg-right">
                            <li><a href="/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="/"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-arrow-up" aria-hidden="true"></span>
            </button>
            <!-- /move top -->

        </section>
    </footer>
    <!--//footer-66 -->

    <script src="../assets/javascripts/jquery.min.js"></script>
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script src="../assets/javascripts/jquery.countdown.min.js"></script>
    <script src="../assets/javascripts/popper.min.js"></script>
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <script src="../assets/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="../assets/javascripts/owl.carousel.js"></script>
    <script src="../assets/javascripts/owl.config.js"></script>
    <script src="../assets/javascripts/neumorphism.js"></script>
    <script src="../assets/javascripts/iziToast.js"></script>
    <script src="../assets/javascripts/vex.combined.js"></script>
    <script src="../assets/javascripts/script.js"></script>
</body>

</html>